<div id="login" class="login-form-container">
  <mat-card> 
    <h3 class="reg">REGISTER</h3>
  
   <form (ngSubmit)="onSubmit('Registered','Dismiss',myForm)" #myForm="ngForm">
     <div class="input-wrapper">
   <mat-form-field style="width:400px" >
     <mat-label>User-ID</mat-label>
     <input matInput name="id" [(ngModel)]="employee.id" #idCtrl="ngModel" required>
   <mat-error *ngIf="idCtrl.hasError('required')  && !userid ">User-ID is required</mat-error>
   <!-- <mat-error *ngIf="userid">User-ID already exist</mat-error> -->
     </mat-form-field></div>
     <div class="input-wrapper"><mat-form-field style="width:400px" >
       <mat-label>Username</mat-label>
       <input matInput name="username" [(ngModel)]="employee.username" #usernameCtrl="ngModel" required>
     <mat-error *ngIf="usernameCtrl.hasError('required')">Username is required</mat-error>
 
       </mat-form-field></div><div class="input-wrapper">
              <mat-form-field style="width: 250px;" >
         <mat-label>Role</mat-label>
         <select name="role" [(ngModel)]="employee.role" #roleCtrl="ngModel" required matNativeControl required>
           
           <option >Admin</option>
           <option >Manager</option>
           <option >Employee</option>
         </select>
         <mat-error *ngIf="roleCtrl.hasError('required')">Role is required</mat-error>
       </mat-form-field>
       </div><div class="input-wrapper">
         <mat-form-field style="width:400px" >
           <mat-label>Email-ID</mat-label>
           <input matInput name="email" [(ngModel)]="employee.email" #emailCtrl="ngModel" required>
         <mat-error *ngIf="emailCtrl.hasError('required')">Email-ID is required</mat-error>
     
           </mat-form-field></div><div class="input-wrapper">
           <mat-form-field style="width:400px" >
             <mat-label>phonenumber</mat-label>
             <input matInput name="contact" [(ngModel)]="employee.phonenumber" #contactCtrl="ngModel" required>
           <mat-error *ngIf="contactCtrl.hasError('required')">Phone Number is required</mat-error>
       
             </mat-form-field></div>
             
          
             <div class="input-wrapper"><mat-form-field style="width:400px" >
               <mat-label>Password</mat-label>
               <input type="password" matInput  name="password" autocomplete="off" 
               [(ngModel)]="employee.password" #passwordCtrl="ngModel" required>
             <mat-error *ngIf="passwordCtrl.hasError('required')">Password is required</mat-error>
         
               </mat-form-field></div>
               <div class="input-wrapper">
                
                 <mat-form-field style="width:400px" >
                 <mat-label>Confirm Password</mat-label>
                 <input type="password"  matInput autocomplete="off" name="confirmPassword"
                  [(ngModel)]="employee.cpassword"
                  #cpasswordCtrl="ngModel"  required>
                  <mat-error *ngIf="cpasswordCtrl.hasError('required')"> Confirm password is required

                  </mat-error>
                  <!-- <mat-error *ngIf="passcheck "> Password and Confirm password must be same

                  </mat-error> -->
               

                 </mat-form-field></div>
                 
     
     <button class="but"  mat-button  >Register</button>
   </form>
 </mat-card>
 </div>
