
 
  <nz-layout class="app-layout">
    <nz-sider class="menu-sidebar"
              nzCollapsible
              nzWidth="300px"
              nzBreakpoint="md"
              [(nzCollapsed)]="isCollapsed"
              [nzTrigger]="null">
      <div class="sidebar-logo" style="background-color: white;">
        <a href="https://ng.ant.design/" target="_blank" >
         
           <img src="https://www.smartclaims.asia/assets/images/logo.png" alt="logo" style="width:170px;height:40px;padding-right: -20px;padding-left: 23px;"> 
           
        </a>
      </div>
      <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
          <li nz-menu-item  nzMatchRouter >
            <i nz-icon nzType="dashboard"></i>
            <a routerLink="managerdashboard">Dashboard</a>
          </li>
         
          <li nz-menu-item  nzMatchRouter >
            <i nz-icon nzType="table"></i>
            <a routerLink="viewproject">View Project</a>
          </li>
          <li nz-menu-item  nzMatchRouter >
            <i nz-icon nzType="form"></i>
            <a routerLink="newtask">Task</a>
          </li>
          
          <li nz-menu-item  nzMatchRouter >
            <i nz-icon nzType="edit"></i>
            <a routerLink="managerreport"> Report</a>
          </li>
          <li nz-menu-item  nzMatchRouter >
            <i nz-icon nzType="table"></i>
            <a routerLink="employeereport">Employee Report</a>
          </li>
      </ul>
    </nz-sider>
    <nz-layout>
      <nz-header>
        <div class="app-header">
          <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
              <i class="trigger"
                 nz-icon
                 [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
              ></i>
          </span>
          <span style="float:right;border-color: transparent;padding-right: 30px;color:rgb(172, 163, 163);">
            <!-- <span style="padding-right:50px;color: black;" class="spantag">{{nameOfTheEmployee.username}}</span> -->
          
            <i nz-icon nzType="caret-down" [matMenuTriggerFor]="menu" nzTheme="outline" style="color: rgb(172, 163, 163);"></i>
            <mat-menu #menu="matMenu" class="customize">
              <button class="butt" mat-menu-item routerLink="profile"><i nz-icon nzType="user" style="padding-right: 15px;"></i>
                My Profile</button>
               
              <button mat-menu-item><i nz-icon nzType="lock" style="padding-right: 15px;"></i>Change Password</button>
              <button mat-menu-item ><i nz-icon nzType="logout" style="padding-right: 15px;"></i>Logout</button>
            </mat-menu>
        </span>
        </div>
      </nz-header>
      <nz-content>
        <div class="inner-content">
          <router-outlet></router-outlet>
        </div>
      </nz-content>
    </nz-layout>
  </nz-layout>