<span class="spantag"><u style="color: rgb(69, 69, 155);"><a href="/admin/admindashboard">Dashboard</a></u> / Completion Status</span>
<mat-card>
   <h3 class="text" style="text-align: center;">Completed</h3>
   <br>
   <mat-progress-bar mode="determinate" value="" class="mat-progress-bar mat-progress-bar-buffer"></mat-progress-bar>
   <br><br>
   <h3 class="text" style="text-align: center;">In Progress</h3>
   <br>
   <mat-progress-bar mode="determinate" value="" ></mat-progress-bar>
   <br><br>
   <h3 class="text" style="text-align: center;">Pending</h3>
   <br>
   <mat-progress-bar mode="determinate" value=""></mat-progress-bar>
   <br><br>
   <div class="ng" style="text-align: center;">
      <mat-form-field appearance="fill">
         <mat-label class="text1">Select Manager</mat-label>
         <mat-select>
            <mat-option *ngFor="let manager of managers" [value]="manager.value">
            {{manager.viewValue}}
            </mat-option>
         </mat-select>
      </mat-form-field>
   </div>
</mat-card>