.example-spacer {
    flex: 1 1 auto;
   
  }
  .toolbar-mode{
      background-color:white;
      height:88px;
     border-bottom-style:ridge;
    // z-index:10;
    //  border-bottom: gray;
      
  }
  @import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css);

  a{
    position: relative;
     display: block;
    // margin: 2em auto;
    // border-bottom: 1px solid #f57e34;
    // border-radius: 3px;
    // width: 290px;
    padding-left: 150px;
    border-left-color: white;
    p {
        width: 100%;
        line-height: 1.5;
        background-color: transparent;
        border: none;
        
        padding: .6em .5em;
        outline: 0;
    }
        &::-webkit-input-placeholder, &::-moz-placeholder, &:-ms-input-placeholder {
          color: #9EA2AB;
        }
    &:before {
        font-family: FontAwesome;
        position: absolute;
        display: inline-block;
         top: 9px;
        left: -28px;
        font-size: 20px;
        color: #f57e34;
        padding-right: 15px;
      }
    &:nth-child(1):before {
        content: "\f015";
        padding-right:30px;
      }
      &:nth-child(2):before {
        content: "\f007";
        padding-right:30px;
      }
      &:nth-child(3):before {
        content: "\f044";
        padding-right:30px;
      }
      &:nth-child(4):before {
        content: "\f0c5";
        padding-right:30px;
      }
      &:nth-child(5):before {
        content: "\f08d";
        padding-right:30px;
      }
      &:nth-child(6):before {
        content: "\f058";
        padding-right:30px;
      }
      padding :5px;
  }
  .search-group {
    position: absolute;
    top: 7%;
    right: 300px;
    transform: translate(0, -50%);
    width: 340px;
    background: rgb(224, 220, 220);
    border: 1px solid rgb(196, 189, 189);
    border-radius: 20px;
    overflow: hidden;
    .search-input {
        width: 300px;
        height: 40px;
        background: transparent;
        border: none;

        outline: none;
        color: black;
        font-size: 15px;
        text-indent: 1.5em;
    }
    .search-btn {
        position: relative;
        top: 4px;
        right: 1px;
        width: 30px;
        height: 30px;
        background: orange;
        border: 0;
        border-radius: 50%;
        outline: none;
        line-height: 30px;
        text-align: center;
        color: white;
        transform: scale(0);
        transition: all .4s;
        &:hover {
             background: lighten(orange, 10%);
            
            transform: scale(1);
        }
    }
    .search-input:focus+.search-btn {
        transform: scale(1);
    }
}
.make-button{
 padding-right: 220px;
}
  