table{
    width:100%;
    height:100%;
}
.table{
    padding-top: 2%;
}

.spantag{
    color: #26253c;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    margin-bottom: 20px;
   
}
h1{
    padding-left: 3%;
    padding-top: 2%;
}