<body><div  id="login" class="login-form-container">
	<mat-card> 
	
	 <h3 class="reg">LOGIN</h3> 
 
	<form (ngSubmit)="onSubmit('loged in','Dismiss',myForm)" #myForm="ngForm">
	   
		<div class="input-wrapper"> 
		<mat-form-field style="width:400px" >
			<mat-label>User ID</mat-label>
			<input matInput name="id" [(ngModel)]="employee.id" #idCtrl="ngModel" required>
	  <mat-error *ngIf="idCtrl.touched && idCtrl.errors?.required">User ID is required</mat-error>

		  </mat-form-field>
		  </div>
		  <div class="input-wrapper"> 
		  <mat-form-field style="width:400px" >
			<mat-label>Password</mat-label>
			<input matInput name="password" [(ngModel)]="employee.password" #passwordCtrl="ngModel" required>
	  <mat-error *ngIf="passwordCtrl.hasError('required')">password is required</mat-error>

		  </mat-form-field>
		  </div>
	

 <div class="forgot">
  <a routerLink='/resetpassword' routerLinkActive='Active'>Forgot password ?</a>
  </div>
 
<button mat-button  >Login</button>
<!-- </div> -->
</form>
<span class="orPart">-----------------or-----------------</span>


<button mat-button routerLink="/register" >Register</button>

</mat-card>
 </div>
</body>

	
	