<span class="spantag"><u style="color: rgb(69, 69, 155);"><a href="/manager/managerdashboard">Dashboard</a></u> / Task</span>

<div id="login" class="login-form-container">
  <mat-card>
    <button style="border:none;background-color: transparent;float: right;" (click)="onNoClick()">   
      <mat-icon style="float: right;color: rgb(216, 212, 203);">clear</mat-icon>
  </button>
  <br>
      <h3 class="reg">CREATE TASK</h3>
    <form  (ngSubmit)="onSubmit('Task Created Successfully','Dismiss',myForm)" #myForm="ngForm"><br>
      <div class="input-wrapper">
  <mat-form-field  >
    <mat-label>Project Name</mat-label>
        <input matInput  name='title' required
          [(ngModel)]="task.projectname" #titleCtrl="ngModel" >
        <!-- <mat-hint>Enter project title</mat-hint> -->
        <mat-error *ngIf="titleCtrl.hasError('required')" >Project Name is required</mat-error>
      </mat-form-field>
    </div><br>
    <div class="input-wrapper">
<mat-form-field  >
  <mat-label>Task Name</mat-label>
        <input matInput  name='task' required
          [(ngModel)]="task.taskname" #taskCtrl="ngModel" >
        <!-- <mat-hint>Enter project title</mat-hint> -->
        <mat-error *ngIf="taskCtrl.hasError('required')">Task Name is required</mat-error>
      </mat-form-field>
    </div><br>
    
    <div class="input-wrapper">
      <mat-form-field>
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input [rangePicker]="picker">
          <input matStartDate placeholder="Start date" name="startdate" required
          [(ngModel)]="task.startdate" #startdateCtrl="ngModel">
          <input matEndDate placeholder="End date" name="enddate" required
          [(ngModel)]="task.enddate" #enddateCtrl="ngModel">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
        <mat-error *ngIf="startdateCtrl.hasError('required')" >Date Range is required</mat-error>
  
      </mat-form-field>
  </div><br>
   <div class="input-wrapper">
      <mat-form-field   >
        <mat-label>Priority</mat-label>
        <input matInput   name="priority"  required
        [(ngModel)]="task.priority" #priorityCtrl="ngModel" >
        <mat-error *ngIf="priorityCtrl.hasError('required')">Priority is required</mat-error>
  </mat-form-field>
  </div><br>
    <div class="input-wrapper">
      <mat-form-field  class="example-full-width">
        <mat-label>Description</mat-label>
        <input matInput  type="text" name='des'  required
        [(ngModel)]="task.description" #desCtrl="ngModel">
        <mat-error *ngIf="desCtrl.hasError('required')">Description is required</mat-error>
      
        <!-- <mat-hint>Enter Description</mat-hint> -->
      </mat-form-field>
  
    </div>
    <!-- <div class="input-wrapper">
      <mat-form-field appearance="fill">
        <mat-label>Assigned To</mat-label>
        <mat-select [(ngModel)]="employee.id" name="assignedto">
          <mat-option *ngFor="let user of employee" [value]="user.id">
            {{user.id}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div> -->
    <button mat-raised-button class="btn" color="primary" style="margin-top: 40px;">Create</button><br>
  </form>
  </mat-card>  
  </div>
  
  